*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("background.jpg");
    background-size: 100% 100% ;
    position: relative;
    gap: 150px;
}

.bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.286);
    z-index: 2;
}

h1{
    position: absolute;
    top: 20px;
    font-size: 50px;
    color: #061e31;
    z-index: 3;
    text-shadow: 2px 2px 10px #5595ca;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.drag{
    position: relative;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    cursor: grab;
    box-shadow: 2px 2px 10px #061e31;
    z-index: 3;
}

.dragbox{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #35393c84;
    box-shadow: 2px 2px 10px #061e31, -2px -2px 10px #63CCCA;
}

.image{
    position: absolute;
    width: 100%;
    height: 100px;
    background: var(--img);
    background-size: cover;
}

.drop{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    box-shadow: 2px 2px 10px #061e31, -2px -2px 10px #63CCCA;
    z-index: 3;
}

.dropbox{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #061e3199;
    box-shadow: 2px 2px 10px #061e31, -2px -2px 10px #63CCCA;
}


#reset{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 400px;
    transform: translateX(-50%);
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color: #63CCCA;
    color: black;
    z-index: 3;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 2px 2px 10px #061e31, -2px -2px 10px #63CCCA;
    cursor: pointer;
    transition: all 0.3s;
}

#reset:hover{
    background-color: #061e31b5;
    color: aliceblue; 
}